body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

nav{
  top: 0;
  width: 100%; 
  position: fixed;
  background-color: #333;


    }

     .menu {
      background-color: #2c3e50;
      overflow: hidden;
      background-color: #2c3e50;
      text-align: center;
  
    }
 
    
    .menu a {
       display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
      transition: background-color 0.3s;

    }

    .menu a:hover {
      background-color: #1abc9c;
    }

    .menu a.active {
      background-color: #16a085;
    }

.dropdown {
  position: absolute;
  top: 80px;       /* Ajusta según el tamaño del avatar */
  right: 10px;     /* Pegado al borde derecho */
  background-color: #9ac7f8;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  z-index: 999;
}
.btn-secondary{
  --bs-btn-bg: #0077ff;
}

.btn btn-secondary dropdown-toggle{
    background-color : #06386d;
}
 h1{text-align: center;}
p{text-align:center;} 

h2{text-align: center;} 
 h3{text-align: left;}  
 p{text-align:left;}

 h4{text-align: left;}  

footer {
background-color:#0a1a2f;
color:#f0f0f0;
padding:40px 30px; /* 👈 menos padding para que suba */
text-align:center;
font-family:Verdana, sans-serif;
box-shadow:0 -2px 10px rgba(0,0,0,0.5);
width: 100%;
display: flex; /* 👈 usamos flexbox */
flex-direction: column; /* elementos uno debajo del otro */
justify-content: center; /* 👈 centrado vertical */
align-items: center; /* 👈 centrado horizontal */
min-height: 200px; /* altura del bloque */
margin-top: 40px; /* 👈 espacio que lo sube más arriba */
}
footer h2 {
margin: 0;
color:#ffffff;
font-size: 24px;
}
footer p {
margin:10px 0;
font-size: 16px;
}
