.dropdown{
        margin-left: 1450;
        background-color : #012144;
        
}
.btn btn-secondary dropdown-toggle{
    background-color : #06386d;
}
 h1{text-align: center;}
p{text-align:center;} 

h2{text-align: center;} 
 h3{text-align: left;}  
 p{text-align:left;}

 h4{text-align: left;}  